@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: #f8fafc;
  font-family: Inter, sans-serif;
}
/* 
--primary: #6D28D9;
--primary-light: #8B5CF6;

--secondary: #F8F7FF;

--accent: #F59E0B;

--text: #111827;
--muted: #6B7280;

--surface: #FFFFFF;
--background: #F9FAFB; */